{% extends 'Financials/base.html' %}
{% block content %}
    <div class="add-item">
        <a href="{% url 'customer_new' %}" class="add-icon"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    {% for customer in customers %}
        <div class "customer">
        <h1><a href="{% url 'customer_detail' pk=customer.pk %}">{{ customer.customer_name }}</a></h1>
            <p> Customer Address:<br>
                &emsp;&emsp;{{customer.street_address}}<br>
                &emsp;&emsp;{{customer.city}}, {{customer.state}} {{customer.zip}}<br>
            Customer Email Address: {{customer.email}}<br>
            Customer Phone: {{customer.phone}}<br>
            <div class="date">
                Customer last updated on: {{customer.modified_date}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}