{% extends 'Financials/base.html' %}
{% block content %}
    <div class="customer">
        <p><h2> Customer Name: {{customer.customer_name}}</h2>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'customer_edit' pk=customer.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
</p>
        <p> Customer Address:<br>
                &emsp;&emsp;{{customer.street_address}}<br>
                &emsp;&emsp;{{customer.city}}, {{customer.state}} {{customer.zip}}<br>
            Customer Email Address: {{customer.email}}<br>
            Customer Phone: {{customer.phone}}<br>
        <p><h3>Stocks:</h3></p>

        <p><h3>Cryptocurrency:</h3></p>

        <div class="date">
            Customer record created on: {{customer.created_date}}.  Last updated on: {{customer.modified_date}}</p>
        </div>
{% endblock %}