<html>
    <head>
        <title>Django Financials - Customer Listings</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Financials - Customer Listings</a></h1>
        </div>

        {% for customer in customers %}
        <div>
            <h1><a href="">{{customer.customer_name}}</a> </h1>
            <p> Customer Address:<br>
                &emsp;&emsp;{{customer.street_address}}<br>
                &emsp;&emsp;{{customer.city}}, {{customer.state}} {{customer.zip}}<br>
            Customer Email Address: {{customer.email}}<br>
            Customer Phone: {{customer.phone}}<br>
            Customer last updated on: {{customer.modified_date}}</p>

        </div>
        {% endfor %}

    </body>
</html>