{% extends 'Financials/base.html' %}
{% block content %}
        <div class="menu-item">
            <a href="{% url 'crypto_list' %}" class="menu-icon"><span title="Cryptocurrency" class="glyphicon glyphicon-usd"></span></a>
            <a href="{% url 'stock_list' %}" class="menu-icon"><span title="Stocks" class="glyphicon glyphicon-stats"></span></a>
            <a href="{% url 'customer_list' %}" class="menu-icon"><span title="Customers" class="glyphicon glyphicon-user"></span></a>
            <!--<a href="{% url 'stock_new' %}" class="menu-icon"><span title="Add" class="glyphicon glyphicon-plus"></span></a>-->
        </div>

    <div class="stock">
        <p><h2> Stock Name: {{stock.stock_name}}</h2>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'stock_edit' pk=stock.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'stock_delete' pk=stock.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
        {% endif %}
</p>
        <p> Stock Owner:  {{stock.customer}}<br>
            Stock Symbol: {{stock.symbol}}<br>
            Purchase Price: {{stock.purchase_price}}<br>
            Purchase Date: {{stock.purchase_date}}<br>
            Purchase Quantity: {{stock.qty}}<br>
         <div class="date">
           <p> Stock record created on: {{stock.created_date}}.  Last updated on: {{stock.modified_date}}</p>
        </div>
{% endblock %}